[submodule "docs"]
	path = docs
	url = git@github.com:flourishlib/flourish-docs.git
		ignore = dirty
[submodule "tests"]
	path = tests
	url = git@github.com:flourishlib/flourish-tests.git
		ignore = dirty
[submodule "classes"]
	path = classes
	url = git@github.com:flourishlib/flourish-classes.git
		ignore = dirty
[submodule "build"]
	path = build
	url = git@github.com:flourishlib/flourish-build.git
		ignore = dirty
[submodule "site"]
	path = site
	url = git@github.com:flourishlib/flourish-site.git
		ignore = dirty
[submodule "tests-results"]
	path = tests-results
	url = git@github.com:flourishlib/flourish-tests-results.git
		ignore = dirty
[submodule "phpdoc"]
	path = phpdoc
	url = git@github.com:flourishlib/flourish-phpdoc.git
		ignore = dirty
[submodule "flourishlib.com"]
	path = flourishlib.com
	url = git@github.com:flourishlib/flourishlib.com.git
		ignore = dirty
[submodule "wiki-engine"]
	path = wiki-engine
	url = git@github.com:flourishlib/wiki-engine.git
		ignore = dirty
[submodule "discussion"]
	path = discussion
	url =  git@github.com:flourishlib/flourish-discussion.git
		ignore = dirty
